html,body{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #2b2b2b;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #050458;
    text-decoration: none;
}

.navigation{
    background-color: #2b2b2b;
    color: #ffffff; 
    height: 50px;
   
    
}
 .navigation ul{

    margin-top: 0;
    padding-left: 0;
    list-style: none;
    text-align: right;
    height: 50px;
    

 }
.navigation li{
    
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 100;
    
 
}

.content div{
    display: inline-block;
    
}

.content h1{
     color: #ffffff;
}

.content span{
    color: #f27609;
    display:block;
}

.content h2{
    color: #ffffff;
}

.profile_pic p{
    
    height: 650px;
    width: 45%;
    text-align: center;
    margin-left: 210px;
    
}
.profile_pic{
    
    height: 650px;
    width: 40%;
    text-align: center;
    
}
.profile_pic img{
    width: 300px;
    border-radius:300px;
    margin-top: 115px;
    
}

.profile_title{
    
    vertical-align: top;
    height: 650px;
    width: 59%;
    

    
}
.profile_title h1{
    text-transform:uppercase;
    font-size: 58px;
    margin-top:150px;
    font-weight:400;
    line-height:54px;
    margin-left:-40px;
}
.profile_title h2{
    font-size: 16px;
    font-weight:100;
    margin-top:-30px;
    margin-left:-37px;
    
}
.profile_title h3{
    margin-right: 50px;
    margin-left: -39px;
    margin-top: -10px;
}
.profile_title p{
    margin-right: 50px;
    margin-left: -39px;
    margin-top: -10px;
}

.profile_img-linck{
    width: 50px;
    margin-right: 50px;
    margin-left: -39px;
    
}

